
$primary-color-pink: #f42267;
$primary-color-light-pink: #ff598f; 
$primary-color-violet: #4b2d7f;
$primary-color-dark-violet: #40286a;
$primary-color-light-violet-1: #8074e4;


$color-light-red:#ff0000;
$color-light-blue: #2414b2;
$color-white:#fff;

$color-dark-grey: #484848;
$color-black-1: #1d1d1d;

$color-light-grey: #f1f1f1;


$general-width: 90%;
$general-max-width: 1700px;
$general-row-max-width: 1435px;

$primary-font: 'Montserrat', sans-serif;    
$secondary-font: 'Dancing Script', cursive;


// GRID
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;












